<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <display-name>TpProgAvanzada</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletLogin</display-name>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>servlet.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletRegistro</display-name>
    <servlet-name>ServletRegistro</servlet-name>
    <servlet-class>servlet.ServletRegistro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegistro</servlet-name>
    <url-pattern>/ServletRegistro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletIndex</display-name>
    <servlet-name>ServletIndex</servlet-name>
    <servlet-class>servlet.ServletIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletIndex</servlet-name>
    <url-pattern>/ServletIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAdminPanel</display-name>
    <servlet-name>ServletAdminPanel</servlet-name>
    <servlet-class>servlet.ServletAdminPanel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAdminPanel</servlet-name>
    <url-pattern>/ServletAdminPanel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletNavbar</display-name>
    <servlet-name>ServletNavbar</servlet-name>
    <servlet-class>servlet.ServletNavbar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletNavbar</servlet-name>
    <url-pattern>/ServletNavbar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletLogo</display-name>
    <servlet-name>ServletLogo</servlet-name>
    <servlet-class>servlet.ServletLogo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogo</servlet-name>
    <url-pattern>/ServletLogo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletInicio</display-name>
    <servlet-name>ServletInicio</servlet-name>
    <servlet-class>servlet.ServletInicio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInicio</servlet-name>
    <url-pattern>/ServletInicio</url-pattern>
  </servlet-mapping>
</web-app>